# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/idle-factory?schema=public

# Bot
BOT_TOKEN=
BOT_NAME=Idle Factory
BOT_PREFIX=<@786891249005232179>
BOT_OWNERS=
BOT_COOLDOWN=2000
BOT_SHARDING=false

# Build
BUILD_VERSION=0.1.4
# BUILD_NUMBER= # defaults to `git rev-parse --short HEAD`

# Dev
DEV_GUILD_ID=
GITHUB_TOKEN=

# Report (webhook | text)
REPORT_TYPE=webhook
REPORT_WEBHOOK_URL=
REPORT_TEXT_GUILD_ID=
REPORT_TEXT_CHANNEL_ID=

# Logger
LOG_LEVEL=chat
LOG_DEV=false

# i18n
I18N_LNG=en
