# Packages
node_modules/

# Log files
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Env
.env

# Dist
dist/

# Coverage reports
coverage/

# Prisma v7 generated client
packages/database/src/generated/

# Miscellaneous
.tmp/
.turbo
.idea/
.DS_Store

# pnpm
.pnp.*.sim-output/
